<div fxLayout="row">
  <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10">

    <mat-card class="search-card">
      <mat-card-header>
        <mat-card-title class="todo-list-title">Todos</mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="column" >

        <div fxLayout="row wrap" fxLayoutGap="10px">

          <mat-form-field class="input-field">
            <mat-label>Owner</mat-label>
            <input matInput id="todo-owner-input" placeholder="Filter by owner"
            [(ngModel)]="todoOwner" (input)="updateFilter()">
            <mat-hint>Filtered in Angular</mat-hint>
          </mat-form-field>

          <mat-form-field class="input-field">
            <mat-label>Contains</mat-label>
            <input matInput id="todo-contains-input" placeholder="Filter by body"
            [(ngModel)]="todoContains" (input)="updateFilter()">
            <mat-hint>Filtered in Angular</mat-hint>
          </mat-form-field>

          <mat-form-field class="input-field">
            <mat-label>Category</mat-label>
            <input matInput id="todo-category-input" placeholder="Filter by category"
            [(ngModel)]="todoCategory" (input)="updateFilter()">
            <mat-hint>Filtered in Angular</mat-hint>
          </mat-form-field>
        </div>

        <div fxLayout="row wrap" fxLayoutGap="10px">

          <mat-form-field class="input-field">
            <mat-label>Status</mat-label>
            <mat-select id="todo-status-input"
            [(ngModel)]="todoStatus" (selectionChange)="getTodosFromServer()">
              <mat-option>--</mat-option>
              <mat-option value="true">Complete</mat-option>
              <mat-option value="false">Incomplete</mat-option>
            </mat-select>
            <mat-hint>Filtered on Server</mat-hint>
          </mat-form-field>

          <mat-form-field class="input-field">
            <mat-label>Order By</mat-label>
            <mat-select id="todo-orderBy-input"
            [(ngModel)]="orderBy" (selectionChange)="getTodosFromServer()">
              <mat-option>--</mat-option>
              <mat-option value="'owner'">Owner</mat-option>
              <mat-option value="'body'">Body</mat-option>
              <mat-option value="'category'">Category</mat-option>
              <mat-option value="'status'">Status</mat-option>
            </mat-select>
            <mat-hint>Filtered on Server</mat-hint>
          </mat-form-field>

          <mat-form-field class="input-field">
            <mat-label>Limit</mat-label>
            <input matInput id="todo-limit-input" type="number" placeholder="Limit number of todos"
            min="0" max="200" [(ngModel)]="todoLimit" (input)="updateFilter()">
            <mat-hint>Limited in Angular</mat-hint>
          </mat-form-field>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxLayout="row">
  <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10" *ngIf="serverFilteredTodos; else todosError" >

    <mat-card>
      <mat-card-content>
        <mat-nav-list class="todo-nav-list">
          <h3 mat-subheader>Todos</h3>
          <app-todo-card mat-list-item *ngFor="let todo of this.filteredTodos" [todo]="todo" class="todo-list-item">
          </app-todo-card>
        </mat-nav-list>
      </mat-card-content>
    </mat-card>

  </div>

  <ng-template #todosError>
    <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10" class="todo-error">
      <mat-error>
        There was a problem loading the todos. Possibly the server is down or perhaps there are network
        issues.
      </mat-error>
      <mat-error>
        Please wait a bit and try again or start the server.
      </mat-error>
    </div>
  </ng-template>
</div>
